/* General styles */

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
la-resistance-card + la-resistance-card {
  margin-top: 15px;
}

la-resistance-card {
  width: 100%;
}

form {
  margin: 15px;
}

form la-resistance-button {
  float: right;
  margin-top: 15px;
}
